@media (max-width: 880px){

    .main_section{
        padding: 4%;

    }

    .products{
        display: inherit;
        height: auto;
    }

    .product:first-child{
        margin: auto;
        margin-bottom: 50px;
    }

    .product{
        margin: auto;
    }

    .comments{
        background-size: auto;
        padding-bottom: 20px;
    }

    .comment{
        margin: 0 auto 50px;
    }

    .comments_content{
        display: inherit;
    }
}